.github/**
.vscode/**
.vscode-test/**
.yarn/**
config/**
node_modules/**
scripts/**

.editorconfig
.eslintrc
.gitattributes
.gitignore
.yarnrc.yml
rollup.config.mjs
tsconfig.json
yarn.lock

assets/videos/**
dist/test/**
dist/**/*.js.map
src/**

**/*.svg
**/*.vsix
